{
    "extends": "airbnb",
    "rules": {
        "no-undef": "off",
        "react/prop-types": "off",
        "react/no-array-index-key": "off",
        "object-curly-newline": "off",
        "react/destructuring-assignment": "off"
    }
}